body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align:center;

}
#button{
    font-size:2em;
    padding:5px 10px;
    color:white;
background-color:rgb(183, 28, 28);
border:none;
border-radius:6px;
cursor:pointer;
transition:0.25s;
}
#button:hover{
    background-color:rgb(255, 19, 19);
    
}
#button:active{
    background-color:rgb(255, 85, 85);
}
.pa{
    font-size:3em;

}
#p4{
    color:rgb(3, 255, 3);
    font-size:3em;
}
